<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.hsStock.ConceptMapper">
<insert id="insert" parameterType="java.util.List">
insert into CONCEPT
        (code,name,src)
        values
        <foreach collection="list" item="ConceptResult" separator=",">
           (#{ConceptResult.code,jdbcType=VARCHAR},
#{ConceptResult.name,jdbcType=VARCHAR},
#{ConceptResult.src,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>