<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.DividendMapper">
<insert id="insert" parameterType="java.util.List">
insert into DIVIDEND
        (ts_code,ann_date,end_date,div_proc,stk_div,stk_bo_rate,stk_co_rate,cash_div,cash_div_tax,record_date,ex_date,pay_date,div_listdate,imp_ann_date,base_date,base_share)
        values
        <foreach collection="list" item="DividendResult" separator=",">
           (#{DividendResult.ts_code,jdbcType=VARCHAR},
#{DividendResult.ann_date,jdbcType=VARCHAR},
#{DividendResult.end_date,jdbcType=VARCHAR},
#{DividendResult.div_proc,jdbcType=VARCHAR},
#{DividendResult.stk_div,jdbcType=VARCHAR},
#{DividendResult.stk_bo_rate,jdbcType=VARCHAR},
#{DividendResult.stk_co_rate,jdbcType=VARCHAR},
#{DividendResult.cash_div,jdbcType=VARCHAR},
#{DividendResult.cash_div_tax,jdbcType=VARCHAR},
#{DividendResult.record_date,jdbcType=VARCHAR},
#{DividendResult.ex_date,jdbcType=VARCHAR},
#{DividendResult.pay_date,jdbcType=VARCHAR},
#{DividendResult.div_listdate,jdbcType=VARCHAR},
#{DividendResult.imp_ann_date,jdbcType=VARCHAR},
#{DividendResult.base_date,jdbcType=VARCHAR},
#{DividendResult.base_share,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>