<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.FinaMainbzMapper">
<insert id="insert" parameterType="java.util.List">
insert into FINA_MAINBZ
        (ts_code,end_date,bz_item,bz_sales,bz_profit,bz_cost,curr_type,update_flag)
        values
        <foreach collection="list" item="FinaMainbzResult" separator=",">
           (#{FinaMainbzResult.ts_code,jdbcType=VARCHAR},
#{FinaMainbzResult.end_date,jdbcType=VARCHAR},
#{FinaMainbzResult.bz_item,jdbcType=VARCHAR},
#{FinaMainbzResult.bz_sales,jdbcType=VARCHAR},
#{FinaMainbzResult.bz_profit,jdbcType=VARCHAR},
#{FinaMainbzResult.bz_cost,jdbcType=VARCHAR},
#{FinaMainbzResult.curr_type,jdbcType=VARCHAR},
#{FinaMainbzResult.update_flag,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>