<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.index.IndexDailyMapper">
<insert id="insert" parameterType="java.util.List">
insert into INDEX_DAILY
        (ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount)
        values
        <foreach collection="list" item="IndexDailyResult" separator=",">
           (#{IndexDailyResult.ts_code,jdbcType=VARCHAR},
#{IndexDailyResult.trade_date,jdbcType=VARCHAR},
#{IndexDailyResult.close,jdbcType=VARCHAR},
#{IndexDailyResult.open,jdbcType=VARCHAR},
#{IndexDailyResult.high,jdbcType=VARCHAR},
#{IndexDailyResult.low,jdbcType=VARCHAR},
#{IndexDailyResult.pre_close,jdbcType=VARCHAR},
#{IndexDailyResult.change,jdbcType=VARCHAR},
#{IndexDailyResult.pct_chg,jdbcType=VARCHAR},
#{IndexDailyResult.vol,jdbcType=VARCHAR},
#{IndexDailyResult.amount,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>