<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.index.IndexMonthlyMapper">
<insert id="insert" parameterType="java.util.List">
insert into INDEX_MONTHLY
        (ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount)
        values
        <foreach collection="list" item="IndexMonthlyResult" separator=",">
           (#{IndexMonthlyResult.ts_code,jdbcType=VARCHAR},
#{IndexMonthlyResult.trade_date,jdbcType=VARCHAR},
#{IndexMonthlyResult.close,jdbcType=VARCHAR},
#{IndexMonthlyResult.open,jdbcType=VARCHAR},
#{IndexMonthlyResult.high,jdbcType=VARCHAR},
#{IndexMonthlyResult.low,jdbcType=VARCHAR},
#{IndexMonthlyResult.pre_close,jdbcType=VARCHAR},
#{IndexMonthlyResult.change,jdbcType=VARCHAR},
#{IndexMonthlyResult.pct_chg,jdbcType=VARCHAR},
#{IndexMonthlyResult.vol,jdbcType=VARCHAR},
#{IndexMonthlyResult.amount,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>