<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.index.IndexClassifyMapper">
<insert id="insert" parameterType="java.util.List">
insert into INDEX_CLASSIFY
        (index_code,industry_name,parent_code,level,industry_code,is_pub,src)
        values
        <foreach collection="list" item="IndexClassifyResult" separator=",">
           (#{IndexClassifyResult.index_code,jdbcType=VARCHAR},
#{IndexClassifyResult.industry_name,jdbcType=VARCHAR},
#{IndexClassifyResult.parent_code,jdbcType=VARCHAR},
#{IndexClassifyResult.level,jdbcType=VARCHAR},
#{IndexClassifyResult.industry_code,jdbcType=VARCHAR},
#{IndexClassifyResult.is_pub,jdbcType=VARCHAR},
#{IndexClassifyResult.src,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>