<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.MarginMapper">
<insert id="insert" parameterType="java.util.List">
insert into MARGIN
        (trade_date,exchange_id,rzye,rzmre,rzche,rqye,rqmcl,rzrqye,rqyl)
        values
        <foreach collection="list" item="MarginResult" separator=",">
           (#{MarginResult.trade_date,jdbcType=VARCHAR},
#{MarginResult.exchange_id,jdbcType=VARCHAR},
#{MarginResult.rzye,jdbcType=VARCHAR},
#{MarginResult.rzmre,jdbcType=VARCHAR},
#{MarginResult.rzche,jdbcType=VARCHAR},
#{MarginResult.rqye,jdbcType=VARCHAR},
#{MarginResult.rqmcl,jdbcType=VARCHAR},
#{MarginResult.rzrqye,jdbcType=VARCHAR},
#{MarginResult.rqyl,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>