<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.MoneyflowHsgtMapper">
<insert id="insert" parameterType="java.util.List">
insert into MONEYFLOW_HSGT
        (trade_date,ggt_ss,ggt_sz,hgt,sgt,north_money,south_money)
        values
        <foreach collection="list" item="MoneyFlowHsgtResult" separator=",">
           (#{MoneyFlowHsgtResult.trade_date,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.ggt_ss,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.ggt_sz,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.hgt,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.sgt,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.north_money,jdbcType=VARCHAR},
#{MoneyFlowHsgtResult.south_money,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>