<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.hsStock.ShareFloatMapper">
<insert id="insert" parameterType="java.util.List">
insert into SHARE_FLOAT
        (ts_code,ann_date,float_date,float_share,float_ratio,holder_name,share_type)
        values
        <foreach collection="list" item="ShareFloatResult" separator=",">
           (#{ShareFloatResult.ts_code,jdbcType=VARCHAR},
#{ShareFloatResult.ann_date,jdbcType=VARCHAR},
#{ShareFloatResult.float_date,jdbcType=VARCHAR},
#{ShareFloatResult.float_share,jdbcType=VARCHAR},
#{ShareFloatResult.float_ratio,jdbcType=VARCHAR},
#{ShareFloatResult.holder_name,jdbcType=VARCHAR},
#{ShareFloatResult.share_type,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>