<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.hsStock.StkHoldertradeMapper">
<insert id="insert" parameterType="java.util.List">
insert into STK_HOLDERTRADE
        (ts_code,ann_date,holder_name,holder_type,in_de,change_vol,change_ratio,after_share,after_ratio,avg_price,total_share,begin_date,close_date)
        values
        <foreach collection="list" item="StkHoldertradeResult" separator=",">
           (#{StkHoldertradeResult.ts_code,jdbcType=VARCHAR},
#{StkHoldertradeResult.ann_date,jdbcType=VARCHAR},
#{StkHoldertradeResult.holder_name,jdbcType=VARCHAR},
#{StkHoldertradeResult.holder_type,jdbcType=VARCHAR},
#{StkHoldertradeResult.in_de,jdbcType=VARCHAR},
#{StkHoldertradeResult.change_vol,jdbcType=VARCHAR},
#{StkHoldertradeResult.change_ratio,jdbcType=VARCHAR},
#{StkHoldertradeResult.after_share,jdbcType=VARCHAR},
#{StkHoldertradeResult.after_ratio,jdbcType=VARCHAR},
#{StkHoldertradeResult.avg_price,jdbcType=VARCHAR},
#{StkHoldertradeResult.total_share,jdbcType=VARCHAR},
#{StkHoldertradeResult.begin_date,jdbcType=VARCHAR},
#{StkHoldertradeResult.close_date,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>