<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.Top10HoldersMapper">
<insert id="insert" parameterType="java.util.List">
insert into TOP10_HOLDERS
        (ts_code,ann_date,holder_name,end_date,hold_amount,hold_ratio)
        values
        <foreach collection="list" item="Top10HoldersResult" separator=",">
           (#{Top10HoldersResult.ts_code,jdbcType=VARCHAR},
#{Top10HoldersResult.ann_date,jdbcType=VARCHAR},
#{Top10HoldersResult.holder_name,jdbcType=VARCHAR},
#{Top10HoldersResult.end_date,jdbcType=VARCHAR},
#{Top10HoldersResult.hold_amount,jdbcType=VARCHAR},
#{Top10HoldersResult.hold_ratio,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>