<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luckyboy.mapper.us.UsTradecalMapper">
<insert id="insert" parameterType="java.util.List">
insert into US_TRADECAL
        (cal_date,is_open,pretrade_date)
        values
        <foreach collection="list" item="UsTradecalResult" separator=",">
           (#{UsTradecalResult.cal_date,jdbcType=VARCHAR},
#{UsTradecalResult.is_open,jdbcType=VARCHAR},
#{UsTradecalResult.pretrade_date,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>